 @font-face {
     font-family: GNLBEE-MinionPro-Regular1;
     src: url("../../assets/fonts/MinionPro-Regular.woff") format("woff");
 }
 
 @font-face {
     font-family: GNLBEE-Gotham-Medium1;
     src: url("../../assets/fonts/Gotham-Medium.woff") format("woff");
 }
 
 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 .noselect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 
 
 #t1_1 {
     left: 55px;
     top: 979px;
 }
 
 #t2_1 {
     left: 55px;
     top: 1000px;
 }
 
 #t3_1 {
     left: 665px;
     top: 111px;
 }
 
 #t4_1 {
     left: 254px;
     top: 361px;
     cursor:pointer;
 }
 
 #t5_1 {
     left: 225px;
     top: 623px;
     cursor:pointer;
 }
 
 #t6_1 {
     left: 530px;
     top: 361px;
     cursor:pointer;
 }
 
 #t7_1 {
     left: 506px;
     top: 623px;
     cursor:pointer;
 }
 
 #t8_1 {
     left: 784px;
     top: 363px;
     cursor:pointer;
 }
 
 #djuraffaren {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 775px;
     top: 351px;
     width: 140px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #skolan {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 496px;
     top: 351px;
     width: 137px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #loppis {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 214px;
     top: 351px;
     width: 137px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #nojesfaltet {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 214px;
     top: 611px;
     width: 137px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #honsgarden {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 496px;
     top: 612px;
     width: 139px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 .s1_1 {
     FONT-SIZE: 67px;
     FONT-FAMILY: GNLBEE-MinionPro-Regular1;
     color: rgb(255, 255, 255);
 }
 
 .s3_1 {
     FONT-SIZE: 61px;
     FONT-FAMILY: GNLBEE-Gotham-Medium1;
     color: rgb(255, 255, 255);
 }
 
 .s2_1 {
     FONT-SIZE: 91px;
     FONT-FAMILY: GNLBEE-Gotham-Medium1;
     color: rgb(255, 255, 255);
 }
