 /* Begin embedded font definitions */
 
 @font-face {
     font-family: GNLBEE-MajemaSkol6;
     src: url("../../../assets/fonts/MajemaSkol.woff") format("woff");
 }
 
 @font-face {
     font-family: GNLBEE-HelveticaNeueLTStd-Lt6;
     src: url("../../../assets/fonts/HelveticaNeueLTStd-Lt.woff") format("woff");
 }
 
 @font-face {
     font-family: GNLBEE-MajemaSkolGlesPrickad6;
     src: url("../../../assets/fonts/MajemaSkolGlesPrickad.woff") format("woff");
 }
 
 @font-face {
     font-family: GNLBEE-DonSemiformal6;
     src: url("../../../assets/fonts/DonSemiformal.woff") format("woff");
 }
 
 @font-face {
     font-family: GNLBEE-HelveticaNeue-Light6;
     src: url("../../../assets/fonts/HelveticaNeue-Light.woff") format("woff");
 }
 
 @font-face {
     font-family: GNLBEE-Gotham-Medium6;
     src: url("../../../assets/fonts/Gotham-Medium.woff") format("woff");
 }
 /* End embedded font definitions */
 
 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 .noselect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 /* Begin inline CSS */
 
 #t1_6 {
     left: 55px;
     top: 83px;
 }
 
 #t2_6 {
     left: 69px;
     top: 250px;
     cursor: pointer;
 }
 
 #t3_6 {
     left: 69px;
     top: 197px;
     cursor: pointer;
 }
 
 #t4_6 {
     left: 69px;
     top: 144px;
     cursor: pointer;
 }
 
 #t5_6 {
     left: 989px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t6_6 {
     left: 503px;
     top: 317px;
     letter-spacing: 15px;
 }
 
 #t7_6 {
     left: 726px;
     top: 317px;
     letter-spacing: 16px;
 }
 
 #t8_6 {
     left: 884px;
     top: 317px;
     letter-spacing: 15px;
 }
 
 #t9_6 {
     left: 265px;
     top: 42px;
     letter-spacing: -1px;
 }
 
 #ta_6 {
     left: 501px;
     top: 279px;
     letter-spacing: 1px;
 }
 
 #tb_6 {
     left: 388px;
     top: 943px;
 }
 
 #tc_6 {
     left: 311px;
     top: 907px;
 }
 
 #td_6 {
     left: 319px;
     top: 967px;
 }
 
 #te_6 {
     left: 345px;
     top: 328px;
 }
 
 #tf_6 {
     left: 379px;
     top: 393px;
 }
 
 #tg_6 {
     left: 311px;
     top: 373px;
 }
 
 #th_6 {
     left: 367px;
     top: 708px;
 }
 
 #ti_6 {
     left: 368px;
     top: 778px;
 }
 
 #tj_6 {
     left: 309px;
     top: 738px;
 }
 
 #tk_6 {
     left: 332px;
     top: 526px;
 }
 
 #tl_6 {
     left: 328px;
     top: 584px;
 }
 
 #tm_6 {
     left: 364px;
     top: 547px;
 }
 
 .s2_6 {
     FONT-SIZE: 55px;
     FONT-FAMILY: GNLBEE-Gotham-Medium6;
     color: rgb(0, 0, 0);
 }
 
 .s1_6 {
     FONT-SIZE: 85px;
     FONT-FAMILY: GNLBEE-DonSemiformal6;
     color: rgb(255, 255, 255);
 }
 
 .s4_6 {
     FONT-SIZE: 293px;
     FONT-FAMILY: GNLBEE-MajemaSkolGlesPrickad6;
     color: rgb(197, 198, 198);
     line-height: 1;
 }
 
 .s13_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s6_6 {
     FONT-SIZE: 73px;
     FONT-FAMILY: GNLBEE-HelveticaNeueLTStd-Lt6;
     color: rgb(0, 0, 0);
 }
 
 .s8_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s12_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s5_6 {
     FONT-SIZE: 244px;
     FONT-FAMILY: GNLBEE-DonSemiformal6;
     color: rgb(198, 214, 93);
 }
 
 .s3_6 {
     FONT-SIZE: 48px;
     FONT-FAMILY: GNLBEE-HelveticaNeue-Light6;
     color: rgb(0, 0, 0);
 }
 
 .s7_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s11_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s10_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s9_6 {
     FONT-SIZE: 151px;
     FONT-FAMILY: GNLBEE-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .t.m7_6 {
     -webkit-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
     -ms-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
     -moz-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
     -o-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
 }
 
 .t.m5_6 {
     -webkit-transform: matrix(1, -0.05, 0.05, 1, 0, 0) scale(0.25);
     -ms-transform: matrix(1, -0.05, 0.05, 1, 0, 0) scale(0.25);
     -moz-transform: matrix(1, -0.05, 0.05, 1, 0, 0) scale(0.25);
     -o-transform: matrix(1, -0.05, 0.05, 1, 0, 0) scale(0.25);
 }
 
 .t.m3_6 {
     -webkit-transform: matrix(1, 0.03, -0.03, 1, 0, 0) scale(0.25);
     -ms-transform: matrix(1, 0.03, -0.03, 1, 0, 0) scale(0.25);
     -moz-transform: matrix(1, 0.03, -0.03, 1, 0, 0) scale(0.25);
     -o-transform: matrix(1, 0.03, -0.03, 1, 0, 0) scale(0.25);
 }
 
 .t.m6_6 {
     -webkit-transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0) scale(0.25);
     -ms-transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0) scale(0.25);
     -moz-transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0) scale(0.25);
     -o-transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0) scale(0.25);
 }
 
 .t.m4_6 {
     -webkit-transform: matrix(0.97, -0.22, 0.22, 0.97, 0, 0) scale(0.25);
     -ms-transform: matrix(0.97, -0.22, 0.22, 0.97, 0, 0) scale(0.25);
     -moz-transform: matrix(0.97, -0.22, 0.22, 0.97, 0, 0) scale(0.25);
     -o-transform: matrix(0.97, -0.22, 0.22, 0.97, 0, 0) scale(0.25);
 }
 
 .t.m1_6 {
     -webkit-transform: matrix(0.98, 0.17, -0.17, 0.98, 0, 0) scale(0.25);
     -ms-transform: matrix(0.98, 0.17, -0.17, 0.98, 0, 0) scale(0.25);
     -moz-transform: matrix(0.98, 0.17, -0.17, 0.98, 0, 0) scale(0.25);
     -o-transform: matrix(0.98, 0.17, -0.17, 0.98, 0, 0) scale(0.25);
 }
 
 .t.m2_6 {
     -webkit-transform: matrix(1, -0.03, 0.03, 1, 0, 0) scale(0.25);
     -ms-transform: matrix(1, -0.03, 0.03, 1, 0, 0) scale(0.25);
     -moz-transform: matrix(1, -0.03, 0.03, 1, 0, 0) scale(0.25);
     -o-transform: matrix(1, -0.03, 0.03, 1, 0, 0) scale(0.25);
 }
 
 #Valj_kapitel {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 132px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #Valj_sida {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 185px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #reset {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 53px;
     top: 238px;
     width: 140px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #page5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 70px;
     top: 581px;
     width: 35px;
     height: 34px;
     text-align: left;
     background: transparent;
     font: normal 25px Arial, Helvetica, sans-serif;
 }
 
 #textbox1 {
     z-index: 2;
     position: absolute;
     left: 504px;
     top: 550px;
     width: 185px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox2 {
     z-index: 2;
     position: absolute;
     left: 721px;
     top: 550px;
     width: 129px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox3 {
     z-index: 2;
     position: absolute;
     left: 882px;
     top: 550px;
     width: 185px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox4 {
     z-index: 2;
     position: absolute;
     left: 504px;
     top: 740px;
     width: 185px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox5 {
     z-index: 2;
     position: absolute;
     left: 721px;
     top: 740px;
     width: 129px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox6 {
     z-index: 2;
     position: absolute;
     left: 882px;
     top: 740px;
     width: 185px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox7 {
     z-index: 2;
     position: absolute;
     left: 504px;
     top: 933px;
     width: 185px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox8 {
     z-index: 2;
     position: absolute;
     left: 721px;
     top: 933px;
     width: 129px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox9 {
     z-index: 2;
     position: absolute;
     left: 882px;
     top: 933px;
     width: 185px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 /* End inline CSS */


 /*media query css  768px  and 1024px Portrait*/
 
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
     .s4_6 {
         line-height: 1.6;
     }
 }


 /*media query css  768px  and 1024px Landscape*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
     .s4_6 {
         line-height: 1.6;
     }
}



/*media query css  2560px  and 1600px retina Mac*/

@media (device-width: 2560px) and (device-height: 1600px)
{
     .s4_6 {
         line-height: 1.6;
     }
}

/*media query css  2880px  and 1800px retina Mac*/

@media (device-width: 2880px) and (device-height: 1800px)
{
    .s4_6 {
         line-height: 1.6;
     }
}