 /* Begin embedded font definitions */
 
 @font-face {
     font-family: OKNXMO-Gotham-Medium6;
     src: url("../../../assets/fonts/Gotham-Medium.woff") format("woff");
 }
 
 @font-face {
     font-family: OKNXMO-HelveticaNeueLTStd-Lt6;
     src: url("../../../assets/fonts/HelveticaNeueLTStd-Lt.woff") format("woff");
 }
 
 @font-face {
     font-family: OKNXMO-HelveticaNeue-Light6;
     src: url("../../../assets/fonts/HelveticaNeue-Light.woff") format("woff");
 }
 
 @font-face {
     font-family: OKNXMO-MajemaSkolGlesPrickad6;
     src: url("../../../assets/fonts/MajemaSkolGlesPrickad.woff") format("woff");
 }
 
 @font-face {
     font-family: OKNXMO-DonSemiformal6;
     src: url("../../../assets/fonts/DonSemiformal.woff") format("woff");
 }
 
 @font-face {
     font-family: OKNXMO-MajemaSkol6;
     src: url("../../../assets/fonts/MajemaSkol.woff") format("woff");
 }
 /* End embedded font definitions */
 
 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 .noselect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 #t1_6 {
     left: 55px;
     top: 83px;
 }
 
 #t2_6 {
     left: 69px;
     top: 250px;
     cursor: pointer;
 }
 
 #t3_6 {
     left: 69px;
     top: 197px;
     cursor: pointer;
 }
 
 #t4_6 {
     left: 69px;
     top: 144px;
     cursor: pointer;
 }
 
 #t5_6 {
     left: 989px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t6_6 {
     left: 265px;
     top: 43px;
 }
 
 #t7_6 {
     left: 265px;
     top: 378px;
     letter-spacing: 1px;
 }
 
 #t8_6 {
     left: 364px;
     top: 619px;
     letter-spacing: 14px;
 }
 
 #t9_6 {
     left: 435px;
     top: 639px;
     letter-spacing: -1px;
 }
 
 #ta_6 {
     left: 500px;
     top: 619px;
     letter-spacing: 16px;
 }
 
 #tb_6 {
     left: 859px;
     top: 640px;
     letter-spacing: -2px;
 }
 
 #tc_6 {
     left: 859px;
     top: 970px;
     letter-spacing: -2px;
 }
 
 #td_6 {
     left: 432px;
     top: 970px;
     letter-spacing: -2px;
 }
 
 #te_6 {
     left: 387px;
     top: 210px;
     letter-spacing: -1px;
 }
 
 #tf_6 {
     left: 308px;
     top: 270px;
     letter-spacing: -2px;
 }
 
 #tg_6 {
     left: 466px;
     top: 275px;
     letter-spacing: -2px;
 }
 
 #th_6 {
     left: 570px;
     top: 184px;
     letter-spacing: -1px;
 }
 
 #ti_6 {
     left: 658px;
     top: 276px;
     letter-spacing: -1px;
 }
 
 #tj_6 {
     left: 760px;
     top: 202px;
     letter-spacing: -2px;
 }
 
 #tk_6 {
     left: 971px;
     top: 216px;
     letter-spacing: -1px;
 }
 
 #tl_6 {
     left: 879px;
     top: 264px;
     letter-spacing: -1px;
 }
 
 .s2_6 {
     FONT-SIZE: 55px;
     FONT-FAMILY: OKNXMO-Gotham-Medium6;
     color: rgb(0, 0, 0);
 }
 
 .s1_6 {
     FONT-SIZE: 85px;
     FONT-FAMILY: OKNXMO-DonSemiformal6;
     color: rgb(255, 255, 255);
 }
 
 .s3_6 {
     FONT-SIZE: 48px;
     FONT-FAMILY: OKNXMO-HelveticaNeue-Light6;
     color: rgb(0, 0, 0);
 }
 
 .s7_6 {
     FONT-SIZE: 213px;
     FONT-FAMILY: OKNXMO-MajemaSkol6;
     color: rgb(0, 0, 0);
     line-height: 157%;
 }
 
 .s4_6 {
     FONT-SIZE: 244px;
     FONT-FAMILY: OKNXMO-DonSemiformal6;
     color: rgb(118, 200, 209);
 }
 
 .s5_6 {
     FONT-SIZE: 73px;
     FONT-FAMILY: OKNXMO-HelveticaNeueLTStd-Lt6;
     color: rgb(0, 0, 0);
 }
 
 .s6_6 {
     FONT-SIZE: 293px;
     FONT-FAMILY: OKNXMO-MajemaSkolGlesPrickad6;
     color: rgb(197, 198, 198);
     line-height: 1;
 }
 
 #Valj_kapitel {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 132px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #Valj_sida {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 185px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #reset {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 53px;
     top: 238px;
     width: 140px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #page5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 70px;
     top: 581px;
     width: 35px;
     height: 34px;
     text-align: left;
     background: transparent;
     font: normal 25px Arial, Helvetica, sans-serif;
 }
 
 #textbox1 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 446px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox2 {
     z-index: 2;
     position: absolute;
     left: 380px;
     top: 500px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox3 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 500px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox4 {
     z-index: 2;
     position: absolute;
     left: 489px;
     top: 500px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox5 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 555px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox6 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 446px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox7 {
     z-index: 2;
     position: absolute;
     left: 806px;
     top: 500px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox8 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 500px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox9 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 500px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox10 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 555px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox11 {
     z-index: 2;
     position: absolute;
     left: 743px;
     top: 662px;
     width: 95px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox12 {
     z-index: 2;
     position: absolute;
     left: 925px;
     top: 662px;
     width: 95px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox13 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 788px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox14 {
     z-index: 2;
     position: absolute;
     left: 380px;
     top: 842px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox15 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 842px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox16 {
     z-index: 2;
     position: absolute;
     left: 489px;
     top: 842px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox17 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 897px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox18 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 788px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox19 {
     z-index: 2;
     position: absolute;
     left: 806px;
     top: 842px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox20 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 842px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox21 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 842px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox22 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 897px;
     width: 44px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #textbox23 {
     z-index: 2;
     position: absolute;
     left: 314px;
     top: 991px;
     width: 95px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox24 {
     z-index: 2;
     position: absolute;
     left: 499px;
     top: 991px;
     width: 95px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox25 {
     z-index: 2;
     position: absolute;
     left: 743px;
     top: 991px;
     width: 95px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #textbox26 {
     z-index: 2;
     position: absolute;
     left: 925px;
     top: 991px;
     width: 95px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }


/*media query css  768px  and 1024px Portrait*/
 
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
     .s6_6 {
         line-height: 1.6;
     }
 }


  /*media query css  768px  and 1024px Landscape*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
 .s6_6 {
         line-height: 1.6;
     }
}

/*media query css  2560px  and 1600px retina Mac*/

@media (device-width: 2560px) and (device-height: 1600px)
{
    .s6_6 {
         line-height: 1.6;
     }
}

/*media query css  2880px  and 1800px retina Mac*/

@media (device-width: 2880px) and (device-height: 1800px)
{
   .s6_6 {
         line-height: 1.6;
     }
}