/* Begin embedded font definitions */

@font-face {
    font-family: ENRPCI-HelveticaNeueLTStd-Md6;
    src: url("../../../assets/fonts/HelveticaNeueLTStd-Md.woff") format("woff");
}

@font-face {
    font-family: ENRPCI-HelveticaNeueLTStd-Lt6;
    src: url("../../../assets/fonts/HelveticaNeueLTStd-Lt.woff") format("woff");
}

@font-face {
    font-family: ENRPCI-Gotham-Medium6;
    src: url("../../../assets/fonts/Gotham-Medium.woff") format("woff");
}

@font-face {
    font-family: ENRPCI-HelveticaNeue-Light6;
    src: url("../../../assets/fonts/HelveticaNeue-Light.woff") format("woff");
}

@font-face {
    font-family: ENRPCI-HelveticaNeueLTStd-Bd6;
    src: url("../../../assets/fonts/HelveticaNeueLTStd-Bd.woff") format("woff");
}

@font-face {
    font-family: ENRPCI-MajemaSkol6;
    src: url("../../../assets/fonts/MajemaSkol.woff") format("woff");
}

@font-face {
    font-family: ENRPCI-DonSemiformal6;
    src: url("../../../assets/fonts/DonSemiformal.woff") format("woff");
}


/* End embedded font definitions */

.t {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -ms-transform: scale(0.25);
    z-index: 2;
    position: absolute;
    white-space: nowrap;
    overflow: visible;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#t1_6 {
    left: 884px;
    top: 968px;
}

#t2_6 {
    left: 55px;
    top: 83px;
    letter-spacing: -0.4px;
}

#t3_6 {
    left: 69px;
    top: 250px;
    letter-spacing: 0.5px;
    word-spacing: -0.5px;
    cursor: pointer;
}

#t4_6 {
    left: 69px;
    top: 197px;
    letter-spacing: 0.3px;
    word-spacing: -0.1px;
    cursor: pointer;
}

#t5_6 {
    left: 69px;
    top: 144px;
    letter-spacing: 0.3px;
    word-spacing: -0.1px;
    cursor: pointer;
}

#t6_6 {
    left: 989px;
    top: 1077px;
    letter-spacing: 6.1px;
}

#t7_6 {
    left: 265px;
    top: 42px;
    letter-spacing: -0.2px;
}

#t8_6 {
    left: 265px;
    top: 876px;
    letter-spacing: 0.5px;
}

#t9_6 {
    left: 265px;
    top: 131px;
    letter-spacing: 1px;
    word-spacing: 0.6px;
}

#ta_6 {
    left: 265px;
    top: 933px;
    letter-spacing: 1.3px;
    word-spacing: 0.3px;
}

#tb_6 {
    left: 265px;
    top: 955px;
    letter-spacing: 1px;
    word-spacing: 0.5px;
}

#tc_6 {
    left: 787px;
    top: 319px;
}

#td_6 {
    left: 588px;
    top: 533px;
}

#te_6 {
    left: 642px;
    top: 696px;
}

.s2_6 {
    FONT-SIZE: 85.6px;
    FONT-FAMILY: ENRPCI-DonSemiformal6;
    color: rgb(255, 255, 255);
}

.s1_6 {
    FONT-SIZE: 213.9px;
    FONT-FAMILY: ENRPCI-MajemaSkol6;
    color: rgb(0, 0, 0);
    line-height: 157%;
}

.s9_6 {
    FONT-SIZE: 152.8px;
    FONT-FAMILY: ENRPCI-HelveticaNeueLTStd-Bd6;
    color: rgb(251, 189, 80);
}

.s4_6 {
    FONT-SIZE: 48.9px;
    FONT-FAMILY: ENRPCI-HelveticaNeue-Light6;
    color: rgb(0, 0, 0);
}

.s8_6 {
    FONT-SIZE: 73.3px;
    FONT-FAMILY: ENRPCI-HelveticaNeueLTStd-Md6;
    color: rgb(0, 0, 0);
}

.s6_6 {
    FONT-SIZE: 146.7px;
    FONT-FAMILY: ENRPCI-DonSemiformal6;
    color: rgb(251, 189, 80);
}

.s3_6 {
    FONT-SIZE: 55px;
    FONT-FAMILY: ENRPCI-Gotham-Medium6;
    color: rgb(0, 0, 0);
}

.s7_6 {
    FONT-SIZE: 73.3px;
    FONT-FAMILY: ENRPCI-HelveticaNeueLTStd-Lt6;
    color: rgb(0, 0, 0);
}

.s5_6 {
    FONT-SIZE: 244.4px;
    FONT-FAMILY: ENRPCI-DonSemiformal6;
    color: rgb(251, 189, 80);
}

#Valj_kapitel {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 52px;
    top: 132px;
    width: 141px;
    height: 43px;
    text-align: left;
    background: transparent;
    font: normal 33px Arial, Helvetica, sans-serif;
}

#Valj_sida {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 52px;
    top: 185px;
    width: 141px;
    height: 43px;
    text-align: left;
    background: transparent;
    font: normal 33px Arial, Helvetica, sans-serif;
}

#reset {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 53px;
    top: 238px;
    width: 140px;
    height: 43px;
    text-align: left;
    background: transparent;
    font: normal 33px Arial, Helvetica, sans-serif;
}

#page5 {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 70px;
    top: 581px;
    width: 35px;
    height: 34px;
    text-align: left;
    background: transparent;
    font: normal 25px Arial, Helvetica, sans-serif;
}

#textboxg1_1 {
    z-index: 2;
    position: absolute;
    left: 339px;
    top: 212px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_2 {
    z-index: 2;
    position: absolute;
    left: 394px;
    top: 212px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_3 {
    z-index: 2;
    position: absolute;
    left: 447px;
    top: 212px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_4 {
    z-index: 2;
    position: absolute;
    left: 393px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_5 {
    z-index: 2;
    position: absolute;
    left: 448px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_6 {
    z-index: 2;
    position: absolute;
    left: 501px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_7 {
    z-index: 2;
    position: absolute;
    left: 339px;
    top: 321px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_8 {
    z-index: 2;
    position: absolute;
    left: 394px;
    top: 321px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_9 {
    z-index: 2;
    position: absolute;
    left: 447px;
    top: 321px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_10 {
    z-index: 2;
    position: absolute;
    left: 448px;
    top: 375px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_11 {
    z-index: 2;
    position: absolute;
    left: 503px;
    top: 375px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_12 {
    z-index: 2;
    position: absolute;
    left: 556px;
    top: 375px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_13 {
    z-index: 2;
    position: absolute;
    left: 448px;
    top: 429px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_14 {
    z-index: 2;
    position: absolute;
    left: 503px;
    top: 429px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg1_15 {
    z-index: 2;
    position: absolute;
    left: 556px;
    top: 429px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_1 {
    z-index: 2;
    position: absolute;
    left: 775px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_2 {
    z-index: 2;
    position: absolute;
    left: 829px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_3 {
    z-index: 2;
    position: absolute;
    left: 883px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_4 {
    z-index: 2;
    position: absolute;
    left: 937px;
    top: 267px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_5 {
    z-index: 2;
    position: absolute;
    left: 829px;
    top: 321px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_6 {
    z-index: 2;
    position: absolute;
    left: 883px;
    top: 321px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_7 {
    z-index: 2;
    position: absolute;
    left: 937px;
    top: 321px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_8 {
    z-index: 2;
    position: absolute;
    left: 775px;
    top: 376px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_9 {
    z-index: 2;
    position: absolute;
    left: 829px;
    top: 376px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_10 {
    z-index: 2;
    position: absolute;
    left: 883px;
    top: 376px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_11 {
    z-index: 2;
    position: absolute;
    left: 937px;
    top: 376px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg2_12 {
    z-index: 2;
    position: absolute;
    left: 991px;
    top: 376px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_1 {
    z-index: 2;
    position: absolute;
    left: 627px;
    top: 537px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_2 {
    z-index: 2;
    position: absolute;
    left: 681px;
    top: 537px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_3 {
    z-index: 2;
    position: absolute;
    left: 735px;
    top: 537px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_4 {
    z-index: 2;
    position: absolute;
    left: 573px;
    top: 592px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_5 {
    z-index: 2;
    position: absolute;
    left: 627px;
    top: 592px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_6 {
    z-index: 2;
    position: absolute;
    left: 681px;
    top: 592px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_7 {
    z-index: 2;
    position: absolute;
    left: 735px;
    top: 592px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_8 {
    z-index: 2;
    position: absolute;
    left: 681px;
    top: 645px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_9 {
    z-index: 2;
    position: absolute;
    left: 735px;
    top: 645px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_10 {
    z-index: 2;
    position: absolute;
    left: 789px;
    top: 645px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_11 {
    z-index: 2;
    position: absolute;
    left: 843px;
    top: 645px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_12 {
    z-index: 2;
    position: absolute;
    left: 681px;
    top: 700px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_13 {
    z-index: 2;
    position: absolute;
    left: 735px;
    top: 700px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_14 {
    z-index: 2;
    position: absolute;
    left: 789px;
    top: 700px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_15 {
    z-index: 2;
    position: absolute;
    left: 626px;
    top: 754px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_16 {
    z-index: 2;
    position: absolute;
    left: 680px;
    top: 754px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_17 {
    z-index: 2;
    position: absolute;
    left: 735px;
    top: 754px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_18 {
    z-index: 2;
    position: absolute;
    left: 789px;
    top: 754px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_19 {
    z-index: 2;
    position: absolute;
    left: 680px;
    top: 808px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_20 {
    z-index: 2;
    position: absolute;
    left: 735px;
    top: 808px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textboxg3_21 {
    z-index: 2;
    position: absolute;
    left: 789px;
    top: 808px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border-color: transparent;
    font: normal 36px 'Courier New', Courier, monospace;
}

#textbox1 {
    z-index: 2;
    position: absolute;
    left: 265px;
    top: 991px;
    width: 189px;
    height: 40px;
    text-align: left;
    background: transparent;
    border-color: transparent;
    font: normal 35px Arial, Helvetica, sans-serif;
}

#textbox2 {
    z-index: 2;
    position: absolute;
    left: 487px;
    top: 991px;
    width: 142px;
    height: 40px;
    text-align: left;
    background: transparent;
    border-color: transparent;
    font: normal 35px Arial, Helvetica, sans-serif;
}

#textbox3 {
    z-index: 2;
    position: absolute;
    left: 661px;
    top: 991px;
    width: 219px;
    height: 40px;
    text-align: left;
    background: transparent;
    border-color: transparent;
    font: normal 35px Arial, Helvetica, sans-serif;
}
